* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0;
  margin: 0;
}

/*********** Navigation Bar ***********/
.nav {
  background-color: #333333;
  color: white;
  /* width: 90%; */
  height: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.nav-links a {
  text-decoration: none;
  color: white;
}

.nav-title {
  font-size: 30px;
  font-weight: 300;
  margin-left: 140px;
}

.nav-links {
  font-size: 16px;
  display: flex;
  justify-content: space-around;
  flex: 1;
  align-items: center;
  gap: 20px;
}

li {
  list-style-type: none;
}

/* a {
  text-decoration: none;
  color: white;
} */

.signout {
  flex: 1;
  margin-left: 40px;
  display: flex;
  justify-content: flex-end;
}

.btn {
  background-color: darkturquoise;
  color: white;
  box-shadow: 5px 5px black;
  border: none;
  margin-right: 140px;
}

/*********** Main Section ***********/

.main {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  justify-content: center;
  margin-top: 60px;
  /* padding: 5px; */
}

/*********** FIRST COLUMN ***********/

.firstblock {
  display: block;
  margin-top: 20px;
}

/**** Profile box ****/

.container1 {
  height: 300px;
  width: 500px;
  /* margin: 20px; */
  /* padding: 20px; */
}

.tealbar {
  background-color: teal;
  height: 100px;
}

.name {
  background-color: white;
  border-style: solid;
  border-color: gray;
  border-top: none;
  height: 140px;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  font-weight: 200;
  color: black;
  padding: 50px 30px 15px 30px;
}

.name h1,
.name h4 {
  font-weight: 200;
}

#janephoto {
  height: 100px;
  width: 100px;
  border-style: solid;
  border-color: gray;
  border-radius: 55px;
  background: white;
  padding: 2px;
  position: absolute;
  top: 120px;
}

#marker {
  height: 20px;
  width: 15px;
}

#gear {
  height: 20px;
  width: 20px;
}

h4 {
  line-height: 1.3em;
}

/**** Education box ****/

.container2 {
  height: 120px;
  width: 500px;
  margin: 50px 20px 20px 0px;
}

.educationbar {
  background-color: black;
  height: 50px;
  padding-left: 20px;
  padding-top: 2.5px;
  color: white;
  display: flex;
  align-items: center;
}

.bootcamp {
  background-color: white;
  border-style: solid;
  border-color: gray;
  border-top: none;
  height: 130px;
  font-weight: 200;
  color: black;
  padding: 30px;
  line-height: 1.8em;
}

.bootcamp h2,
.bootcamp h3 {
  font-weight: 400;
}

.date {
  color: grey;
}

/*********** SECOND COLUMN ***********/

.secondblock {
  display: block;
  height: 600px;
  width: 250px;
  margin-top: 20px;
}

/**** Connections Requests box ****/

.container3 {
  height: 200px;
  width: 250px;
}

.requestsbar {
  background-color: black;
  color: white;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.two {
  background-color: gray;
  color: black;
  border-radius: 65px;
  height: 20px;
  width: 20px;
  margin-right: 5px;
  padding: 2.5px;
  text-align: center;
}

.requestsnames {
  background-color: white;
  border-style: solid;
  border-color: gray;
  border-top: none;
  height: 120px;
  font-weight: 200;
  color: black;
  padding: 5px;
}

.toddbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}
.philbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5px;
}

#toddphoto {
  height: 50px;
  width: 50px;
  border-radius: 55px;
}

#philphoto {
  height: 50px;
  width: 50px;
  border-radius: 55px;
}

#approve {
  height: 30px;
  width: 30px;
}

#reject {
  height: 30px;
  width: 30px;
}

/**** Your Connections box ****/

.container4 {
  height: 100px;
  width: 250px;
  margin-top: 30px;
}

.connectionsbar {
  background-color: black;
  color: white;
  height: 50px;
  padding-left: 10px;
  display: flex;
  align-items: center;
}

.connectionsamount {
  background-color: gray;
  color: black;
  border-radius: 50%;
  padding: 2.5px;
  margin-right: 5px;
}

.friendslist {
  background-color: white;
  border-style: solid;
  border-color: gray;
  border-top: none;
  border-bottom: none;
  height: 220px;
  font-weight: 200;
  color: black;
  padding: 20px;
}

#adrienphoto {
  height: 50px;
  width: 50px;
  border-radius: 55px;
}

#annephoto {
  height: 50px;
  width: 50px;
  border-radius: 55px;
}

#alaynephoto {
  height: 50px;
  width: 50px;
  border-radius: 55px;
}

#arryphoto {
  height: 50px;
  width: 50px;
  border-radius: 55px;
}

.viewmorebar {
  background-color: white;
  border-color: gray;
  border-top: none;
  border-style: solid;
  height: 20px;
  padding: 20px;
}
